<html>
<head>
<title>
    This is my first Lumate challenge - Guest Book.
</title>
</head>
<body>
<h1>Welcome to Guest Book</h1>
{% block content %}
{% endblock %}
<label title="Last Name" id="lblLastName" onmouseover="Last Name"></label>
<textarea id="txtTextLastName" datatype="String" maxlength="50" onmouseover="Please enter only characters" ></textarea>
<label title="First Name" id="lblFirstName" onmouseover="First Name"></label>
<textarea id="txtTextFirstName" datatype="String" maxlength="50" onmouseover="Please enter only characters" ></textarea>
<button id="btnSubmit" title="Submit" onmouseover="On submit your records will be added in guest book and you will be eligible to access guest book">
</button>
</body>
</html>